@tailwind base;
@tailwind components;
@tailwind utilities;

#switch{
transition: transform  0.2s ease;
}

.switch-dark{
    transform:translateY(16.5px) translateY(0);
}

.switch-light{
    transform:translateY(-23px) translateY();
}
  