@tailwind base;
@tailwind components;
@tailwind utilities;

header{

}

.animate-upshift{
    animation: upshift .7s ease-in-out;
}

.animate-upshift-hourly{
    animation: upshift .5s ease-in-out;
}
.animate-upshift-weekly{
    animation: upshift 1s  ease-in-out;
}
.animate-upshift-monthly{
    animation: upshift 1.5s  ease-in-out;
}

#alerts-list{
    animation: leftshift 1s ease-in-out;
}

#goals-list{
    animation: leftshift 1.7s ease-in-out;
}


@keyframes upshift {
    from{
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes leftshift{
    from{
        opacity: 0;
        transform: translateX(50%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}